/* ----------------------------------Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.App {
  text-align: center;
}

/* --------------------------------HEADER-----*/
.header {
  border-bottom: 10px solid rgba(251, 185, 3, 0.959);
}

h1.main-title {
  font-family: "Dokdo", cursive;
  font-size: 70px;
  text-shadow: 4px 4px rgba(251, 185, 3, 0.959);
  margin-top: none;
}

.header p {
  font-family: "Mansalva", cursive;
  font-size: 20px;
  margin-bottom: 1rem;
}

.header img {
  height: 3rem;
  width: auto;
  margin-top: 1rem;
}

/*---------------------------------SCORES------*/
.scoreboard {
  background-color: rgba(251, 185, 3, 0.959);
}

.scoreboard .player {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.scoreboard .score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreboard .score-message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Mansalva", cursive;
}

.hidden {
  color: rgba(251, 185, 3, 0.959);
}

.player-one h2,
.cpu h2 {
  font-size: 3rem;
  color: white;
  font-family: "Dokdo", cursive;
  -webkit-text-stroke: 1px black;
}

.player-one,
.cpu {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid black;
}

.player-one {
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.cpu {
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.player-one-score,
.cpu-score {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid black;
  font-size: 1.5rem;
  background-color: white;
  font-family: "Mansalva", cursive;
}

.player-one-score {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-top: none;
}

.cpu-score {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-top: none;
}

.player-one {
  background-color: red;
}

.cpu {
  background-color: blue;
}

/*---------------------------------GAME-------------*/

.game {
  background-color: rgba(251, 185, 3, 0.959);
}

.game .icon-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
}

.player-one-icon,
.cpu-icon {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.player-one-icon {
  border-right: 2px solid black;
}

.cpu-icon {
  border-left: 2px solid black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}

.game-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: "Mansalva", cursive;
  margin-bottom: 1rem;
}

.game-button:hover {
  box-shadow: 0 0 2px 4px #ffffff;
}

.scissors {
  border: 3px solid #91c92d;
}

.rock {
  border: 3px solid #d6514f;
}

.paper {
  border: 3px solid #3577ac;
}

.post-game button {
  font-family: "Mansalva", cursive;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.post-game button:hover {
  box-shadow: 0 0 2px 4px #ffffff;
}

/*---------------------------------SHOW-WINNER------*/

.winner-message {
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*---------------------------------MEDIA QUERIES----*/

@media (max-width: 425px) {
  h1.main-title {
    font-size: 40px;
    text-shadow: 3px 3px rgba(251, 185, 3, 0.959);
    margin: 10px;
  }

  .header p {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  h1.main-title {
    font-size: 33px;
    text-shadow: 2px 2px rgba(251, 185, 3, 0.959);
  }

  .header p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .game-button {
    height: 8rem;
    width: 8rem;
    font-size: 1.5rem;
  }

  .post-game button {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}
